body { 
	margin:0 !important; 
	padding:0 !important; 
	overflow: hidden !important;
}
::-webkit-scrollbar { 
    	display: none; 
}
.mapboxgl-control-container {
	display: none !important;
}
.invisible {
	display: none;
}
.bloqueado {
	
}
.usuario {
	z-index: 1;
    position: absolute;
    bottom: 0px;
    background: #1d3c2f;
    margin: 10px;
    padding: 2px 15px;
    border: 2px solid #33614c;
    border-radius: 15px;
    text-align: center;
}
.usuarioMsg {
	color: #359449;
}
#map { 
	position:absolute !important; 
	top:0 !important; 
	bottom:0 !important;
	width: 100% !important; 
}
#interfaz {
	pointer-events:none;
	height: 100% !important;
	width: 100% !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	background: #060606ad;
	overflow: auto;
}
#menu {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 4%;
	float: right;
    width: 120px;
    font-family: 'Open Sans', sans-serif;
	border-radius: 10px 20px;
	border: 3px solid #33634d;
	background: #1d3c2f;
	color: #a0d283;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    /*background-color: #3887be;*/
    color: #ffffff;
}
#menu a.active:hover {
	background: #3074a436;
	border-radius: 10px;
}
.herramientasFull {
	height: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    	outline: none;
}
/* Panel Lateral */
#features {
	z-index: 4;
}
#features, #featuresSombreado{
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	height:auto;
	max-height:100%;
	overflow:auto;  
	float: right;
	width: 3%;
	transition: all 0.3s ease-out; 
	font-family: sans-serif;
	overflow-y: none;
	background-color: #fafafa;
}
#features:hover {
	width: 12%;
}
#featuresSombreado {
	pointer-events:none !important;
	height: 100%;
	/*background: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1)), url(http://foo.com/image.jpg);
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1)), url(http://foo.com/image.jpg);*/
}
section {
	padding:  25px 50px;
	line-height: 25px;
	border-bottom: 1px solid #ddd;
	opacity: 0.25;
	font-size: 13px;
	margin-right: 0px !important;
	height: inherit;
	transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
section.active {
	opacity: 1;
}
section:hover {
	opacity: 1;
}
section:last-child {
	border-bottom: none;
	margin-bottom: 800px;
}
.fade {
    opacity:0.5;
} .fade:hover
{
    opacity:1;
}
.intermitente{
    border: 1px solid black;
    padding: 20px 20px;
    box-shadow: 0px 0px 20px;
    animation: infinite resplandorAnimation 2s;
  
}
@keyframes resplandorAnimation {
    0%,100%{
        box-shadow: 0px 0px 20px;
    }
    50%{
        box-shadow: 0px 0px 0px;
  
    }

}
/* INTERFAZ */
#interfaz * {
	pointer-events:auto;
}
#buscador {
	background: #1d3c2f;
	color: #a0d283;
	margin: 10px;
	height: 36px;
	border-radius: 10px 20px;
	border: 3px solid #33634d;
	padding: 15px;
	font-size: 24px;
   	font-family: monospace;
	transition: all 0.5s ease;
	max-width: 28%;
}
#buscador::selection {
	color: black;
  	background: #07e085;
}
.cargandoBuscador {
	background-image: url('../images/loading.gif') !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	background-size: 50px !important;
	background-position-x: 95% !important;
	padding: 15px 75px 15px 15px !important;
}
#miubicacion {
 	background-image: url('../images/database.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.dominios {
 	background-image: url('../images/database.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#gifrandom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: auto;
	height: auto;
}
#panelMiRed {
	width: 600px;
	height: 600px;
	background: transparent;
	margin: auto;
	/*margin-top: 60px;*/
	border-radius: 30px 30px;
	border: 3px solid #33634d;
	display: none;
}
#panelMiRed .tituloMiRed {
	background: #1d3c2f;
	color: #a0d283;
	width: 600px;
	height: 50px;
	border-radius: 27px 27px 0px 0px;
}
#panelMiRedMarker {
	width: 600px;
	height: 200px;
}
#panelMiRed .huecoVacio {
	padding-top: 82px;
	margin-bottom: -90px;
	background: #1d3c2f;
	color: #a0d283;
	width: 200px;
	height: 200px;
	float: right;
}
#panelMiRed .markerMiRed {
	width: 200px;
	height: 200px;
	float: right;
	color: #a0d283;
	background: rgb(255,50,54);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,50,54,0) 0%, rgba(249,47,50,0) 50%, rgba(51,99,77,1) 54%, rgba(29,60,47,1) 58%, rgba(29,60,47,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,50,54,) 0%,rgba(249,47,50,0) 50%,rgba(51,99,77,1) 54%,rgba(29,60,47,1) 58%,rgba(29,60,47,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,50,54,0) 0%,rgba(249,47,50,0) 50%,rgba(51,99,77,1) 54%,rgba(29,60,47,1) 58%,rgba(29,60,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3236', endColorstr='#1d3c2f',GradientType=1 );
}
#panelMiRed #infoMiRed {
	clear: both;
	width: 600px;
	height: 350px;
	max-height: 350px;
	background: #1d3c2f;
	color: #a0d283;
	border-radius: 0px 0px 27px 27px;
}
#panelMiRed #infoMiRed ul{
	height: 90%;
	max-height: 100%;
	width: 20%;
	border: 3px solid #33634d;
	margin: 10px;
	position: relative;
	padding: 0px;
	padding-top: 10px;
	border-radius: 15px;
	text-align: center;
}
#panelMiRed #infoMiRed ul{
	overflow:hidden; 
	overflow-y:scroll;
}
#panelMiRed #infoMiRed ul li{
	list-style-type: none;
}
#panelMiRedIp {
	margin: 28%;
	font-size: 28px;
}
#panelMiRedMiIP {
	margin : 32%;
}
#panelMiRedInterfaz {
	margin: 18%;
	font-size: 20px;
}
.cargando {
	font-size: 24px;
}
.actualizandoDatos {
	width: 50px;
}
.textoCargando {
    top: -15px;
    position: relative;
    padding-left: 10px;
}
.imagenEquipo {
	width: 50px;
}
.cerrarPanel{
    background: #33634d;
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}
.mostrarPanel {
	display: normal !important;
}
.shell-wrap {
    width: 500px;
    margin: 100px auto 0 auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    bottom: 0px;
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.shell-top-bar {
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    font-size: 0.85em;
    border: 1px solid #CCCCCC;
    border-bottom: none;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.shell-body li:before {
    content: '$';
    position: absolute;
    left: 0;
    top: 0;
}

.shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px;
}

[draggable=true] {
    cursor: move;
}

#notification {
    position:fixed;
    bottom: 0px;
    width: 20%;
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:24px;
    font-weight:bold;
    color:white;
    background-color:#1d3c2f;
    padding: 14px;
    padding-right: 4px;
    border: 3px solid #33634d;
    border-radius: 0px 20px 0px 0px;
    color: #a0d283;
}

#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold
}

.errorNotificacion {
    background-color:#c93838;
}
#intergramRoot > div {
	right: 4% !important;
}
#intergramRoot > * > .msg {
	background: #33634d !important;
    color: white !important;
}
.marker_CCTV {
	background-image: url('../images/CCTV.svg');
  	background-size: cover;
  	width: 50px;
  	height: 50px;
  	border-radius: 50%;
  	cursor: pointer;
  	opacity: 80%;
}
.marker_WIFIFREE {
	background-image: url('../images/wifi.svg');
  	background-size: cover;
  	width: 50px;
  	height: 50px;
  	border-radius: 50%;
  	cursor: pointer;
  	opacity: 80%;
}
.cerrarSesion:link    { color: #359449; text-decoration: none; }
.cerrarSesion:visited { color: #359449; text-decoration: none; }
.cerrarSesion:hover   { color: #359449; text-decoration: none; }
.cerrarSesion:active  { color: #359449; text-decoration: none; }